body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.mandatory {
    color: #b71c1c;
}

.cart-item-image {
    height: 75px;
    width: 75px;
}

.cart-action-badge {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    cursor: pointer;
}

.cursor-disabled {
    pointer-events: none;
    cursor: no-drop;
}